body {
    width: 100vw;
    height: 100vh;
    background-color: #7D0A0A;
    margin: 0;
    overflow: hidden;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.todo-card {
    background-color: rgb(228, 198, 129);
    border-radius: 10px;
    padding: 15px 30px;
    margin: 60px;
}

.todo-card input[type='text'] {
    padding: 5px;
    background-color: rgb(234, 209, 150);
    border: 0;
    border-radius: 5px;
    width: 30%;
    height: 1.2rem;
    margin: 10px;
    color: rgb(191, 49, 49);

}

#list {
    font-size: 1.2rem;
}

#list li {
    padding: 5px;
    border-radius: 5px;
    color: rgb(191, 49, 49);
}

#list li:nth-child(odd){
    background-color: rgb(234, 209, 150);
}

.selected {
    text-decoration: line-through;
    text-decoration-style: double;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap-reverse;
}

button  {
    flex: 30%;
    margin: 10px;
    background-color: rgb(191, 49, 49);
    border-radius: 10px;
    color: rgb(234, 209, 150);
    padding: 10px;
    border: 1px solid #00000000;
}

button:hover {
    background-color: rgb(85, 24, 24);
}

@media (max-width: 650px) {
    .todo-card {
        margin: 30px;
    }

    .buttons button {
        flex: 100%;
    }
}